.chackbox_list {
    position: absolute;
    right: 25px;
    top: 30px;
    z-index: 1001;
}
.chackbox_list ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: #fff;
    padding: 5px 10px;
    row-gap: 5px;
}
.chackbox_list li {
    background: #fff;
    text-decoration: none;
    display: flex;
    width: 100%;
    column-gap: 5px;
}