.example-map {
    width: 100%;
    height: 100vh;
    margin-bottom: 1em;
}

.example-list {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    font-size: 0.7em;
    list-style: lower-latin;
    padding: 0;
    overflow: hidden;
}

.map__icon {
    height: 36px;
}
.ol-overlaycontainer-stopevent {
    width: 0 !important;
}

.map__select {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 1001;
    padding: 4px 6px;
}
.ol-zoom-in, .ol-zoom-out {
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.ol-rotate {
    display: none;
}