
.example-map {
    width: 100%;
    height: 100vh;
}
.example-list {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    font-size: 0.7em;
    list-style: lower-latin;
    padding: 0;
    overflow: hidden;
}

.ol-overlaycontainer-stopevent {
    width: 0 !important;
}

.map__select {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 1001;
    padding: 4px 6px;
    border-radius: 10px;
    width: 160px;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 15px;
}
.ol-zoom{
    display: flex;
    flex-direction: row;
}
.ol-zoom-in {
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 850px;
    margin-left: 900px;
}

.ol-zoom-out {
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 850px;
    margin-left: 40px;
}

.ol-rotate {
    display: none;
}

.marker_popup {
    margin-left:10px;
    margin-top:10px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}
