
.example-map {
    width: 100%;
    height: 100vh;
}
.example-list {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    font-size: 0.7em;
    list-style: lower-latin;
    padding: 0;
    overflow: hidden;
}

.ol-overlaycontainer-stopevent {
    width: 0 !important;
}

.map__select {
    position: absolute;
    top: 20px;
    right: 44px;
    z-index: 1001;
    padding: 4px 6px;
    border-radius: 10px;
    width: 160px;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 15px;
    cursor:pointer;
}

.ol-zoom{
    display: flex;
    flex-direction: row;
}
.ol-zoom-in {
  position: absolute;
  margin-top: 880px;
  margin-left: 80px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.ol-zoom-out {
  position: absolute;
  margin-top: 880px;
  margin-left: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.ol-zoom-in:hover{
   background: #1d49aa;
}

.ol-zoom-in:focus{
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.ol-zoom-out:hover{
  background: #1d49aa;
}

.ol-zoom-out:focus{
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.ol-rotate {
    display: none;
}

.marker_popup {
    margin-left:10px;
    margin-top:10px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 250px;
    width: 100%;
}
.map__update-button {
    position: absolute;
    right: 25px;
    bottom: 20px;
    z-index: 1001;
}
.map__edit-button {
    position: absolute;
    right: 25px;
    bottom: 80px;
    z-index: 1001;
}
