.create_object_modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.my_modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 98%;
    height: auto;
    max-height: 90vh;
}
.modal__active {
    display: flex;
}
.modal input {
    margin-top: 20px;
}